<html>
    <head>
        <title>Oops</title>
        <style>
          h1{
            color: blue;
            margin-top:32px;
            text-align: center;
            font-size: 100%;
            font-family: sans-serif;
          }
        </style>
    </head>
    <body>
        <h1>Oops! You have tricked into phishing! You should have seen the link properly and then clicked.</h1>
        <h2>You must be aware of the <strong>Security Awareness Training</strong> that you did.</h2>
    </body>
</html>
